extends layout

block title
  title!= post.title

block content
  article.post
    header.post-header
      h1.post-title!= post.title
      section.post-meta
        time.post-date(datetime=post.prettyDate)!= post.prettyDate
    section.post-content!= post.content
    footer.post-footer
      section.author
        h4
          a(href='/author/brett/') Brett
        p
          | Read
          a(href='/author/brett/')  more posts
          |  by this author.
        .author-meta
          span.author-location Dallas
          span.author-link
            a(href='http://brettj.me')  http://brettj.me
